In [14]:
import numpy as np
import pandas as pd
import yfinance as yf
ticker=input("Enter the Ticker Id:-")
start_date=input("Enter the Start Date [YYYY-MM-DD]:-")
end_date=input("Enter the End Date [YYYY-MM-DD]:-")
data=yf.download(ticker, start=start_date, end=end_date)
dataset_df=pd.DataFrame(data)
dataset_df=dataset_df.reset_index()

Enter the Ticker Id:-BAC
Enter the Start Date [YYYY-MM-DD]:-2021-01-01
Enter the End Date [YYYY-MM-DD]:-2023-04-27
[*********************100%***********************]  1 of 1 completed

In [16]:
dataset_df.to_csv("Dataset_df.csv")

In [15]:
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import RandomizedSearchCV

In [17]:
dataset_df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
577,2023-04-20,29.840000,30.230000,29.770000,29.900000,29.900000,43193800
578,2023-04-21,29.750000,29.980000,29.410000,29.870001,29.870001,44737200
579,2023-04-24,29.790001,29.900000,29.590000,29.760000,29.760000,28020300
580,2023-04-25,29.450001,29.530001,28.820000,28.840000,28.840000,49718800
581,2023-04-26,28.760000,28.940001,28.299999,28.440001,28.440001,45848400

In [18]:
dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       582 non-null    datetime64[ns]
 1   Open       582 non-null    float64
 2   High       582 non-null    float64
 3   Low        582 non-null    float64
 4   Close      582 non-null    float64
 5   Adj Close  582 non-null    float64
 6   Volume     582 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 32.0 KB

In [20]:
df = pd.read_csv("Dataset_df.csv",index_col=0)
df.set_index("Date", inplace=True)
df.dropna(inplace=True)
df

                 Open       High        Low      Close  Adj Close     Volume
Date
2021-01-04  30.459999  30.570000  29.750000  30.030001  28.606859   51483900
2021-01-05  30.170000  30.540001  29.910000  30.260000  28.825960   48507000
2021-01-06  31.900000  32.619999  31.360001  32.150002  30.626392  107002800
2021-01-07  33.310001  33.619999  32.840000  32.860001  31.302740   74358500
2021-01-08  32.919998  33.000000  32.110001  32.529999  30.988380   44641400
...               ...        ...        ...        ...        ...        ...
2023-04-20  29.840000  30.230000  29.770000  29.900000  29.900000   43193800
2023-04-21  29.750000  29.980000  29.410000  29.870001  29.870001   44737200
2023-04-24  29.790001  29.900000  29.590000  29.760000  29.760000   28020300
2023-04-25  29.450001  29.530001  28.820000  28.840000  28.840000   49718800
2023-04-26  28.760000  28.940001  28.299999  28.440001  28.440001   45848400

[582 rows x 6 columns]

In [27]:
x=df.iloc[:,0:5].values
y=df.iloc[:,4].values
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.26,  random_state=0)
scale = StandardScaler()
x_train = scale.fit_transform(x_train)
x_test = scale.transform(x_test)
model = RandomForestRegressor(n_estimators=500, random_state=42, min_samples_split=2, min_samples_leaf=1, max_depth=10, bootstrap=True)
#model=RandomForestRegressor()
model.fit(x_train, y_train)
predict = model.predict(x_test)
print(predict)

[32.03420605 42.76490804 35.92176597 35.61717211 36.11753995 31.66732457
 40.52214055 43.59531713 40.05383968 40.91901897 40.21432404 45.43953996
 41.16850909 30.5015739  28.49770045 39.3773013  37.90633086 31.79728432
 30.12724561 28.59422677 38.41210025 33.01345788 33.86353987 35.39742861
 36.90297636 38.63879244 46.19214302 40.21113888 43.03379025 36.6602287
 44.67196829 43.19826217 33.49677498 31.28372815 42.45576539 33.87237171
 28.70017631 44.63237479 34.31782381 28.82932053 35.58011203 34.95700102
 32.42112419 32.03482772 29.53248326 33.27934138 38.3233274  45.57877597
 30.36384739 34.79462419 36.21210332 32.23055518 39.37416363 31.28334744
 46.28724153 32.57052224 28.71853759 32.5571835  35.51400571 33.09230945
 29.7787299  33.95891478 41.56950983 33.96517101 46.47474797 39.31668363
 38.78651457 44.55965022 33.24580865 32.51276981 29.63345086 39.12290751
 33.09569194 42.87576355 42.8817774  41.88398948 36.73059847 31.28857326
 37.37228599 36.22849492 43.10412193 30.30041502 35.77282706 33.0342891
 44.88071985 46.43405445 39.55125369 42.64908998 46.80191969 35.34390092
 40.05174921 31.44755107 27.83267432 47.59172789 44.47726458 36.53965559
 33.04878579 32.54840685 28.46333598 42.82960843 32.67410048 45.4482919
 35.51450214 38.28042943 31.31747167 28.84663658 27.88460231 35.54722653
 41.66547227 33.2608053  45.33633967 35.77829776 32.5383593  34.05756199
 34.09970995 43.29691367 28.59586677 43.31754738 38.20733189 31.68443087
 38.20896799 32.74474132 35.9534198  40.57333189 35.50289538 32.18853915
 32.90136085 33.04212935 35.07478052 39.39986272 43.22484037 28.51685394
 34.47414743 35.65987662 45.95334204 41.27308933 34.81776442 35.24688898
 34.99282162 38.84259499 37.49895857 35.54132169 41.15127242 34.64605975
 40.70737257 29.51203051 35.36864546 33.15887868 33.87911202 31.2821084
 42.62651381 30.6708017 ]

In [28]:
print("Mean Absolute Error:", round(metrics.mean_absolute_error(y_test, predict), 4))
print("Mean Squared Error:", round(metrics.mean_squared_error(y_test, predict), 4))
print("Root Mean Squared Error:", round(np.sqrt(metrics.mean_squared_error(y_test, predict)), 4))
print("(R^2) Score:", round(metrics.r2_score(predict,y_test), 4))

Mean Absolute Error: 0.0382
Mean Squared Error: 0.0033
Root Mean Squared Error: 0.0578
(R^2) Score: 0.9999

In [29]:
predictions = pd.DataFrame({"Predictions": predict}, index=pd.date_range(start=df.index[-1], periods=len(predict), freq="D"))
predictions.index.name="Date"
predictions.to_csv("Predicted-price-data.csv")
oneyear_df = pd.DataFrame(predictions[:252])
oneyear_df.to_csv("one-year-predictions.csv")
onemonth_df = pd.DataFrame(predictions[:21])
onemonth_df.to_csv("one-month-predictions.csv")
fivedays_df = pd.DataFrame(predictions[:5])
fivedays_df.to_csv("five-days-predictions.csv")

In [32]:
predictions.head()

            Predictions
Date
2023-04-26    32.034206
2023-04-27    42.764908
2023-04-28    35.921766
2023-04-29    35.617172
2023-04-30    36.117540

In [30]:
oneyear_df_pred = pd.read_csv("one-year-predictions.csv")
oneyear_df_pred.set_index("Date")
buy_price = min(oneyear_df_pred["Predictions"])
sell_price = max(oneyear_df_pred["Predictions"])
oneyear_buy = oneyear_df_pred.loc[oneyear_df_pred["Predictions"] == buy_price].values
oneyear_sell = oneyear_df_pred.loc[oneyear_df_pred["Predictions"] == sell_price].values
print("Buy price and date")
print(oneyear_buy)
print("Sell price and date")
print(oneyear_sell)

Buy price and date
[['2023-07-27' 27.832674320220946]]
Sell price and date
[['2023-07-28' 47.591727890014646]]

In [31]:
onemonth_df_pred = pd.read_csv("one-month-predictions.csv")
onemonth_df_pred.set_index("Date", inplace=True)
buy_price = min(onemonth_df_pred["Predictions"])
sell_price = max(onemonth_df_pred["Predictions"])
onemonth_buy = onemonth_df_pred.loc[onemonth_df_pred["Predictions"] == buy_price]
onemonth_sell = onemonth_df_pred.loc[onemonth_df_pred["Predictions"] == sell_price]
print("Buy price and date")
print(onemonth_buy)
print("Sell price and date")
print(onemonth_sell)

Buy price and date
            Predictions
Date
2023-05-10      28.4977
Sell price and date
            Predictions
Date
2023-05-07     45.43954

In [13]:
fivedays_df_pred = pd.read_csv("five-days-predictions.csv")
fivedays_df_pred.set_index("Date", inplace=True)
buy_price = min(fivedays_df_pred["Predictions"])
sell_price = max(fivedays_df_pred["Predictions"])
fivedays_buy = fivedays_df_pred.loc[fivedays_df_pred["Predictions"] == buy_price]
fivedays_sell = fivedays_df_pred.loc[fivedays_df_pred["Predictions"] == sell_price]
print("Buy price and date")
print(fivedays_buy)
print("Sell price and date")
print(fivedays_sell)

Buy price and date
            Predictions
Date
2023-04-29    24.167187
Sell price and date
            Predictions
Date
2023-04-28    42.916269